<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />

    <title>Register with TinyAPP now!</title>
  </head>
  
<body>
  <%- include('partials/_header') %>

  <h1>Registration</h1>

  <form method="POST" action="/register"><br><br>
    <label></label>
    <label>Email</label>
    <input name="email" type="email" placeholder="Enter email address"/>
    <br/>
    <label>Password</label>
    <input name="password" type="password" placeholder="Enter password"/>
    <br/> 
    <center><button>Register!</button></center>
  </form>
</body>
</html>