<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Registration</h1>

  <form method="POST" action="/register">
    <label>Email</label>
    <input name="email" type="email" placeholder="Enter email address"/>
    <br/>
    <label>Password</label>
    <input name="password" type="password" placeholder="Enter password"/>
    <br/> 
    <center><button>Register!</button></center>
  </form>
</body>
</html>